.body-content {
    margin-bottom: 25px;
}

.conversion-process {
    .col-md-6 {
        img {
            width: 100%;
            max-width: 400px;
            margin: 0 auto;
            text-align: center;
        }

        span {
            display: block;
            margin: 0 auto;
            text-align: center;
        }
    }
}


.data-sheets {
    a {
        display: block;
    }
}
